[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
drf-yasg = "*"
Faker = "*"
geopy = "*"
psycopg2-binary = "*"
pillow = "*"
PyJWT = "*"
PyYAML = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.11"
